.breadcrumbs {
    margin: 1rem 0;
    font-family: $header-font-family;
    font-size: 0.6875rem;
    font-weight: 700;
    width: 100%;
    text-transform: uppercase;
    li {
        a {
            color: $tappan-red;
            transition: all .2s ease-in-out;
            &:hover {
                color: $black;
                text-decoration: underline;
            }
        }
    }
}