// Cards
// -----
.card {
    // margin-bottom: 0;
    border: 1px solid $lightest-gray;
    border-top-left-radius: $global-radius;
    border-top-right-radius: $global-radius;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    box-shadow: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    position: relative;
    display: block;
    &:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: $michigan-maize;
        transition: .35s;
    }
    &:hover {
        box-shadow: none;
        &:after {
            width: 100%;
        }
    }
    .card-divider {
        font-family: $header-font-family;
        font-weight: 800;
        background: $secondary-color;
        color: $white;
    }
    .card-section {
        h4 {
            font-weight: 800;
            @include breakpoint(medium down) {
                font-size: 1.25rem;
            }
        }
        a {
            font-family: 'Open Sans';
            font-weight: 700;
        }
    }
    @include breakpoint(small only) {
        margin-bottom: .625rem;
    }
}