.main-content {
    .blue-duotone {
        background-color: rgba($arboretum-blue, 1);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
    }
    .dark-blue-duotone {
        background-color: rgba($michigan-blue, 1);
        background-blend-mode: multiply;
    }
    .red-duotone {
        background-color: rgba($tappan-red, 1);
        background-blend-mode: multiply;
    }
    .yellow-duotone {
        background-color: rgba($michigan-maize, 1);
        background-blend-mode: multiply;
    }
    .purple-duotone {
        background-color: rgba($a2-amethyst, 1);
        background-blend-mode: multiply;
    }
    .green-duotone {
        background-color: rgba($wave-field-green, 1);
        background-blend-mode: multiply;
    }
    .orange-duotone {
        background-color: rgba($ross-orange, 1);
        background-blend-mode: multiply;
    }
    .slider-parent {
        position: relative;
        top: 0;
        width: 100%;
        overflow: hidden;
        .slider-bg {
            width: 100%;
            height: 100%;
            z-index: 0;
            background-size: cover;
            content: '\00a0';
            filter: blur(7px);
            transform: translate3d(0, 0, 0) scale(1.1);
            position: absolute;
            @include breakpoint(small only) {
                background-size: cover;
                background-attachment: scroll;
            }
        }
        .orbit {
            z-index: 1;
            .orbit-wrapper {
                margin: 5vh 0;
                .orbit-controls {
                    bottom: 0;
                    button {
                        cursor: pointer;
                    }
                }
                .orbit-container {
                    .orbit-slide {
                        color: $white;
                        width: 100vw;
                        .hed {
                            margin-bottom: 1.5rem;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            @include breakpoint(small only) {
                                margin-bottom: .5rem;
                            }
                            .eyebrow {
                                font-family: $super-header-font-family;
                                font-size: 2.25rem;
                                line-height: 1;
                                text-transform: uppercase;
                                color: $ross-orange;
                                @include breakpoint(small only) {
                                    font-size: 1.1rem;
                                }
                            }
                            h3 {
                                font-size: 2rem;
                                line-height: 1;
                                padding-bottom: .5rem;
                                border-bottom: 1px solid $white-24;
                                @include breakpoint(medium down) {
                                    font-size: 1.875rem;
                                }
                                @include breakpoint(small only) {
                                    font-size: 1.2rem;
                                }
                            }
                        }
                        .dek {
                            font-size: 1.1rem;
                            text-shadow: 2px 2px 7px rgba($black, .4);
                            @include breakpoint(medium down) {
                                font-size: 1rem;
                            }
                            @include breakpoint(small only) {
                                font-size: .85rem;
                                margin-top: .5rem;
                            }
                            .cta {
                                font-weight: 700;
                                margin-bottom: 0;
                                a {
                                    color: $michigan-maize;
                                    transition: all .1s ease-in-out;
                                    &:hover {
                                        color: $white;
                                    }
                                }
                            }
                        }
                        &.welcome-slide {
                            .hed {
                                .eyebrow {
                                    color: $michigan-maize;
                                    font-size: 1.25rem;
                                    @include breakpoint(small only) {
                                        font-size: .95rem;
                                    }
                                }
                                .brand {
                                    font-size: 5.275rem;
                                    font-weight: 800;
                                    border-bottom: 0;
                                    font-style: italic;
                                    @include breakpoint(medium down) {
                                        font-size: 3.75rem;
                                    }
                                    @include breakpoint(small only) {
                                        font-size: 2.25rem;
                                        margin-bottom: .0625rem;
                                    }
                                    i {
                                        font-weight: 400;
                                        color: $michigan-maize;
                                    }
                                }
                                .tagline {
                                    font-family: $header-font-family;
                                    font-size: 2.75rem;
                                    text-transform: uppercase;
                                    border-top: 1px solid $white-54;
                                    border-bottom: 1px solid $white-54;
                                    @include breakpoint(medium down) {
                                        font-size: 2rem;
                                    }
                                    @include breakpoint(small only) {
                                        font-size: 1.125rem;
                                        text-align: center;
                                    }
                                }
                                .cta {
                                    font-family: $header-font-family;
                                    @include breakpoint(small only) {
                                        font-size: .85rem;
                                    }
                                    a {
                                        color: $michigan-maize;
                                        transition: all .2s ease-in-out;
                                        &:hover {
                                            color: $white;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            .orbit-bullets {
                button {
                    cursor: pointer;
                    width: 7px;
                    height: 7px;
                    margin: 0 .75rem;
                    background-color: $white;
                    transition: all .1s ease-in-out;
                    &:hover {
                        background-color: darken($white, 50%);
                    }
                    &.is-active {
                        background-color: $michigan-maize;
                    }
                }
            }
        }
    }
    .slider-parent-full {
        .orbit-slide {
            // height: 100%;
        }
        .orbit-container {
            position: static;
            // min-height: 40vh;
            height: 100%;
        }
        .orbit-caption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 66.666%;
            background-color: $black-54;
            @include breakpoint(medium down) {
                font-size: 1rem;
            }
            @include breakpoint(small only) {
                font-size: .85rem;
                position: static;
                background-color: $michigan-blue;
                width: 100%;
                padding: 1rem 2.5rem;
            }
            .eyebrow {
                font-family: $super-header-font-family;
                font-size: 2.25rem;
                line-height: 1;
                text-transform: uppercase;
                color: $ross-orange;
                @include breakpoint(small only) {
                    font-size: 1.1rem;
                }
            }
            h3 {
                font-size: 3rem;
                line-height: 1;
                padding-bottom: .5rem;
                border-bottom: 1px solid $white-24;
                @include breakpoint(medium down) {
                    font-size: 1.875rem;
                }
                @include breakpoint(small only) {
                    font-size: 1.2rem;
                }
            }
            p {
                margin-bottom: 2.25rem;
            }
            .cta {
                font-weight: 700;
                color: $michigan-maize;
                transition: all .1s ease-in-out;
                &:hover {
                    color: $white;
                }
            }
        }
        .orbit-bullets {
            margin: 0;
            padding: 1rem 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
            button {
                cursor: pointer;
                width: 7px;
                height: 7px;
                margin: 0 .75rem;
                padding: 0;
                background-color: $white;
                transition: all .1s ease-in-out;
                &:hover {
                    background-color: darken($white, 50%);
                }
                &.is-active {
                    background-color: $michigan-maize;
                }
            }
            @include breakpoint(small only) {
                position: static;
                background-color: $michigan-blue;
                width: 100%;
            }
        }
    }
    .stats {
        background: $michigan-blue;
        margin-bottom: 2rem;
        padding: 5rem 0;
        font-family: $header-font-family;
        font-size: 1.125rem;
        @include breakpoint(small only) {
            padding: 3rem 0 0;
        }
        .image {
            a {
                position: relative;
                .stat {
                    font-family: $super-header-font-family;
                    font-size: 6rem;
                    color: $white;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    text-shadow: 2px 2px 7px rgba($black, .79);
                }
                img {
                    border-radius: 10rem;
                }
                svg {
                    width: 100%;
                    position: absolute;
                    left: 0;
                    transition: all ease;
                    transform: translate3d(0, 0, 0);
                    transform-origin: 50% 50%;
                    transform: perspective(1px) translateZ(0);
                    transition-duration: 0.5s;
                    opacity: .75;
                    overflow: visible;
                    &:hover,
                    &:focus,
                    &:active {
                        transform: translate3d(0, 0, 0) scale(1.025);
                        transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                        opacity: 1;
                        circle {
                            stroke: $michigan-maize;
                            stroke-width: 6;
                            stroke-dasharray: 0.35, 2.25;
                        }
                    }
                    @include breakpoint(768px down) {
                        bottom: -6.125rem;
                    }
                    @include breakpoint(large only) {
                        bottom: -7.5rem;
                    }
                    @include breakpoint(small only) {
                        bottom: -7.5rem;
                    }
                }
            }
        }
        .dek {
            font-weight: 800;
            color: $white;
            margin-top: 2.25rem;
            margin-bottom: 0;
            text-shadow: 2px 2px 7px rgba($black, .4);
        }
        .cta {
            margin-bottom: 0;
            @include breakpoint(medium down) {
                margin-bottom: 2.5rem;
            }
            a {
                font-weight: 700;
                color: $michigan-maize;
                transition: all .1s ease-in-out;
                text-shadow: 2px 2px 7px rgba($black, .4);
                &:hover {
                    color: $white;
                }
            }
        }
    }
    .aud-row {
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .column {

            @include breakpoint(medium down) {
                margin-bottom: 2rem;
                &:nth-child(2) {
                    border-right: 0;
                }
            }
            @include breakpoint(small only) {
                border-right: 0;
            }
            a {
                color: $black;
                .image {
                    z-index: 0;
                    filter: grayscale(.75) sepia(0.15);
                    transform: translate3d(0, 0, 0);
                    transition: all .2s ease-in-out;
                }
                .text-box {
                    padding: 0 .5rem;
                    margin: 0 auto;
                    background-color: $white-100;
                    border-width: 1px;
                    border-style: solid;
                    border-color: $light-gray;
                    transform: translate3d(0, 0, 0);
                    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                    z-index: 1;
                    &.blue {
                        box-shadow: 0 0 0 $michigan-blue;
                        .icon {
                            svg {
                                color: $michigan-blue;
                            }
                        }
                        .text {
                            h3 {
                                color: $michigan-blue;
                            }
                        }
                        &:hover,
                        &:focus {
                            box-shadow: 0px 2px 0 $michigan-blue;
                        }
                    }
                    &.maize {
                        .icon {
                            svg {
                                color: $michigan-maize;
                            }
                        }
                        .text {
                            h3 {
                                color: $michigan-maize;
                            }
                        }
                    }
                    &.red {
                        .icon {
                            svg {
                                color: $tappan-red;
                            }
                        }
                        .text {
                            h3 {
                                color: $tappan-red;
                            }
                        }
                    }
                    &.light-blue {
                        .icon {
                            svg {
                                color: $arboretum-blue;
                            }
                        }
                        .text {
                            h3 {
                                color: $arboretum-blue;
                            }
                        }
                    }
                    &.orange {
                        .icon {
                            svg {
                                color: $ross-orange;
                            }
                        }
                        .text {
                            h3 {
                                color: $ross-orange;
                            }
                        }
                    }
                    &.teal {
                        .icon {
                            svg {
                                color: $taubman-teal;
                            }
                        }
                        .text {
                            h3 {
                                color: $taubman-teal;
                            }
                        }
                    }
                    &.green {
                        .icon {
                            svg {
                                color: $wave-field-green;
                            }
                        }
                        .text {
                            h3 {
                                color: $wave-field-green;
                            }
                        }
                    }
                    &.purple {
                        .icon {
                            svg {
                                color: $a2-amethyst;
                            }
                        }
                        .text {
                            h3 {
                                color: $a2-amethyst;
                            }
                        }
                    }
                    .icon {
                        width: 4rem;
                        background-color: $white-100;
                        margin: 0 auto;
                        svg {
                            margin-top: .875rem;
                            margin-right: .875rem;
                            margin-bottom: 0;
                            margin-left: .875rem;
                            padding: 0;
                            display: block;
                        }
                    }
                    .text {
                        h3 {
                            font-family: $super-header-font-family;
                            text-transform: uppercase;
                            font-weight: normal;
                            font-size: 1.875rem;
                            margin-bottom: 0;
                        }
                        p {
                            color: $black;
                            line-height: 1.2;
                        }
                        .cta {
                            font-family: $header-font-family;
                            font-weight: 700;
                        }
                    }
                }
                &:hover {
                    .image {
                        filter: grayscale(0) sepia(0);
                    }
                    .text-box {
                        .cta {
                            color: $primary-color;
                        }
                    }
                    .blue {
                        box-shadow: 0 2px 0 $michigan-blue;
                    }
                    .light-blue {
                        box-shadow: 0 2px 0 $arboretum-blue;
                    }
                    .red {
                        box-shadow: 0 2px 0 $tappan-red;
                    }
                    .orange {
                        box-shadow: 0 2px 0 $ross-orange;
                    }
                    .yellow {
                        box-shadow: 0 2px 0 $michigan-maize;
                    }
                    .purple {
                        box-shadow: 0 2px 0 $a2-amethyst;
                    }
                    .green {
                        box-shadow: 0 2px 0 $wave-field-green;
                    }
                    .teal {
                        box-shadow: 0 2px 0 $taubman-teal;
                    }
                }
            }
        }
    }
    .quote {
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .quote-container {
            color: $white;
            padding: 0 0 1rem;
            border: 2px solid darken($michigan-blue, 4%);
            background-color: $michigan-blue;
            transition: all .2s ease;
            &:before {
                content: '\201D';
                font-family: $super-header-font-family;
                font-size: 10rem;
                font-weight: 700;
                color: $michigan-maize;
                padding: 1rem;
                line-height: 1;
                display: inline;
                margin-bottom: 0;
            }

            .the-quote {
                color: $white;
                border: 0;
                font-size: 3rem;
                font-style: italic;
                line-height: 1.2;
                margin-top: -6.5rem;
                @include breakpoint(small only) {
                    font-size: 1.5rem;
                }
            }
            cite {
                font-family: $header-font-family;
                font-style: normal;
                font-size: 1.25rem;
                color: $white;

                @include breakpoint(small only) {
                    font-size: 1rem;
                }
            }
            .cta {
                a {
                    font-family: $header-font-family;
                    font-weight: bold;
                    color: lighten($michigan-maize, 15%);
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: $michigan-maize;
                    }
                }
                @include breakpoint(small only) {
                    font-size: .9rem;
                }
            }
        }
    }
    .feeds {
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .news {
            padding: $global-padding;
            background-color: $white-100;
            border: 1px solid $medium-gray;
            @include breakpoint(medium down) {
                margin-bottom: 5rem;
            }
            @include breakpoint(small only) {
                margin-bottom: 1rem;
                border-left: 0;
                border-right: 0;
            }
            .section_title {
                font-size: 1.875rem;
                font-family: $super-header-font-family;
                text-transform: uppercase;
                margin-bottom: $global-padding;
                line-height: 1;
                svg {
                    color: $michigan-blue;
                }
                span {
                    margin-left: .5rem;
                }
                a {
                    font-size: .875rem;
                    font-family: $header-font-family;
                    font-weight: 700;
                    text-transform: none;
                    color: $black;
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: $arboretum-blue;
                    }
                }
            }
            .article {
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
                a {
                    color: $black;
                    transition: all .2s ease-in-out;
                    &:hover,
                    &:focus {
                        color: $primary-color;
                    }

                    .text {
                        padding-left: $global-padding;
                        @include breakpoint(small only) {
                            padding-left: 0;
                            padding-right: $global-padding;
                        }
                        .hed {
                            font-family: $header-font-family;
                            font-weight: 700;
                            font-size: 1.75rem;
                            line-height: 1.2;
                            @include breakpoint(small only) {
                                font-size: .9rem;
                            }
                        }
                        .dek {
                            font-size: 1rem;
                            line-height: 1.2;
                            margin-bottom: 0;
                            @include breakpoint(small only) {
                                font-size: .9rem;
                            }
                        }
                    }
                    .border {
                        margin-top: 2rem;
                        height: 1px;
                        .stroke {
                            stroke: $dark-gray;
                            transition: all .1s ease;
                        }
                    }
                }
                &:last-child {
                    svg {
                        display: none;
                    }
                }
            }
        }
        .promos {
            .callout {
                padding-top: 0;
                padding-bottom: 0;
                border: 0;
                background-color: transparent;
                .custom-block {
                    background-color: $arboretum-blue;
                    margin-bottom: 1rem;
                    .custom-widget {
                        background-color: $michigan-blue;
                        .widget {}
                    }
                    .copy {
                        .column {
                            h3 {
                                a {
                                    font-family: 'Pathway Gothic One';
                                    text-transform: uppercase;
                                    color: $white;
                                    font-size: 2.5rem;
                                    line-height: 1.5;
                                    transition: all .2s ease-in-out;
                                    &:hover {
                                        color: $michigan-maize;
                                    }
                                }
                            }
                            p {
                                a {
                                    color: $white;
                                    font-size: 1rem;
                                    line-height: 1.5;
                                    transition: all .2s ease-in-out;
                                    &:hover {
                                        color: $michigan-maize;
                                    }
                                    .cta {
                                        color: $michigan-maize;
                                    }
                                }
                            }
                        }
                    }
                }
                .events {
                    padding: 0;
                    background-color: $michigan-blue;
                    border: 1px solid darken($michigan-blue, 35%);
                    color: $white;
                    &.red {
                        background-color: $tappan-red;
                        border: 1px solid darken($tappan-red, 3.3%);
                        .section_title {
                            font-size: 1.875rem;
                            font-family: $super-header-font-family;
                            color: $white;
                            text-transform: uppercase;
                            padding: $global-padding;
                            margin-bottom: $global-padding;
                            line-height: 1;
                            background-color: darken($tappan-red, 3.3%);
                            svg {
                                color: $michigan-maize;
                                margin-bottom: 2px;
                            }
                            span {
                                margin-left: .5rem;
                            }
                            a {
                                font-size: .875rem;
                                font-family: $header-font-family;
                                font-weight: 700;
                                text-transform: none;
                                color: $white;
                                transition: all .2s ease-in-out;
                                &:hover {
                                    color: $michigan-maize;
                                }
                            }
                        }
                    }
                    &.blue {
                        background-color: $michigan-blue;
                        border: 1px solid darken($michigan-blue, 3.3%);
                        .section_title {
                            font-size: 1.875rem;
                            font-family: $super-header-font-family;
                            color: $white;
                            text-transform: uppercase;
                            padding: $global-padding;
                            margin-bottom: $global-padding;
                            line-height: 1;
                            background-color: darken($michigan-blue, 3.3%);
                            svg {
                                color: $michigan-maize;
                                margin-bottom: 2px;
                            }
                            span {
                                margin-left: .5rem;
                            }
                            a {
                                font-size: .875rem;
                                font-family: $header-font-family;
                                font-weight: 700;
                                text-transform: none;
                                color: $white;
                                transition: all .2s ease-in-out;
                                &:hover {
                                    color: $michigan-maize;
                                }
                            }
                        }
                    }
                    .section_title {
                        font-size: 1.875rem;
                        font-family: $super-header-font-family;
                        text-transform: uppercase;
                        margin-bottom: $global-padding;
                        padding: $global-padding;
                        line-height: 1;
                        background-color: lighten($michigan-blue, 3%);
                        svg {
                            color: lighten($arboretum-blue, 19.75%);
                            vertical-align: bottom;
                            margin-bottom: 2px;
                        }
                        span {
                            margin-left: .5rem;
                        }
                        a {
                            font-size: .875rem;
                            font-family: $header-font-family;
                            font-weight: 700;
                            text-transform: none;
                            color: $white;
                            transition: all .2s ease-in-out;
                            &:hover {
                                color: $michigan-maize;
                            }
                        }
                    }
                    .event_wrap {
                        padding-left: $global-padding;
                        padding-right: $global-padding;
                        a {
                            color: $white;
                            transition: all .2s ease-in-out;
                            margin-bottom: 2rem;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            @include breakpoint(medium down) {
                                &:last-child {
                                    margin-bottom: 2rem;
                                }
                            }
                            .title {
                                margin-bottom: 0;
                                line-height: 1.2;
                                font-size: 1.25rem;
                                font-family: $header-font-family;
                                font-weight: 700;
                            }
                            .location {
                                margin-bottom: 0;
                                line-height: 1.2;
                                font-size: 1rem;
                            }
                            .date {
                                margin-right: 10px;
                                .month,
                                .day {
                                    font-family: $super-header-font-family;
                                    color: $white;
                                    padding-right: 5px;
                                    border-right: 2px solid $white;
                                    font-size: 2.25rem;
                                    text-transform: uppercase;
                                    line-height: 1;
                                    transition: all .2s ease-in-out;
                                }
                            }
                            &:hover {
                                color: $michigan-maize;
                                .month,
                                .day {
                                    color: $michigan-maize;
                                    border-right-color: $michigan-maize;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .section_title {
        hr {
            border: 1px solid $tappan-red;
            margin: 0;
            max-width: none;
        }
        h4 {
            font-family: $super-header-font-family;
            text-transform: uppercase;
            font-weight: normal;
            background-color: $body-background;
            margin-top: -1.25rem;
            padding-left: .5rem;
            padding-right: .5rem;
            @include breakpoint(small only) {
                font-size: 1.25rem;
            }
        }
    }
    .research {
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .column {
            padding-left: .5rem;
            padding-right: .5rem;
            &:first-child {
                padding-left: 0;
            }
            &:last-child {
                padding-right: 0;
            }
            @include breakpoint(medium down) {
                padding-left: 0;
                padding-right: 0;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .card {
            margin-bottom: 0;
            border: 0;
            height: 20rem;
            box-shadow: none;
            border-radius: 0;
            &:hover,
            &:focus {
                .text {
                    background-size: 100%;
                    background-color: rgba($darker-gray, .9);
                    background-blend-mode: multiply;
                    .title {
                        color: $michigan-maize;
                    }
                }
            }
            .text {
                font-family: $header-font-family;
                font-weight: 700;
                font-size: 1.75rem;
                line-height: 1;
                color: $white;
                padding: 1rem;
                width: 100%;
                height: 100%;
                background-size: 110%;
                background-position: center;
                background-repeat: no-repeat;
                transform: translate3d(0, 0, 0);
                transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
                .title {
                    transition: all .15s ease;
                }
                @extend .row,
                .collapse,
                .align-bottom;
                &.card-01 {
                    background-image: url('../img/research-img-01.jpg');
                }
                &.card-02 {
                    background-image: url('../img/research-img-02.jpg');
                }
                &.card-03 {
                    background-image: url('../img/research-img-03.jpg');
                }
                &.card-04 {
                    background-image: url('../img/research-img-04.jpg');
                }
            }
        }
    }
    .video {
        margin-bottom: 5rem;
        background: $black url('../img/background-pattern.jpg') fixed center repeat;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .responsive-embed {
            margin-bottom: 0;
            @include breakpoint(small only) {
                margin-bottom: 1rem;
            }
        }
        .caption {
            line-height: 1.2;
            font-family: $header-font-family;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 1.875rem 0.9375rem;
            color: $white-87;
            @include breakpoint(medium down) {
                font-size: .95rem;
            }
            .top-border {
                height: 10px;
                background-color: $arboretum-blue;
                width: 33.33%;
                border: none;
                margin-bottom: 1rem;
            }
            .dek {
                line-height: 1.2;
                padding-right: 1.5rem;
                @include breakpoint(medium down) {
                    padding-right: 0;
                }
            }
            .cta {
                color: $michigan-maize;
                margin-top: .5rem;
                display: block;
                text-decoration: none;
                a {
                    font-family: $header-font-family;
                    font-size: 75%;
                    color: $michigan-maize;
                    margin-top: .5rem;
                    display: block;
                    text-decoration: none;
                    transition: all .2s ease-in-out;
                    &:hover {
                        color: lighten($michigan-maize, 50%);
                    }
                }
            }
        }
    }
    .more-promos {
        margin-bottom: 5rem;
        @include breakpoint(small only) {
            margin-bottom: 2rem;
        }
        .quick-links {
            padding: 0;
            @include breakpoint(medium down) {
                margin-bottom: 1rem;
            }
            &.red {
                background-color: $tappan-red;
                border: 1px solid darken($tappan-red, 3.3%);
                .section_title {
                    font-size: 1.875rem;
                    font-family: $super-header-font-family;
                    color: $white;
                    text-transform: uppercase;
                    padding: $global-padding;
                    line-height: 1;
                    background-color: darken($tappan-red, 3.3%);
                    svg {
                        color: $michigan-maize;
                        margin-bottom: 2px;
                    }
                    span {
                        margin-left: .5rem;
                    }
                }
            }
            &.blue {
                background-color: $michigan-blue;
                border: 1px solid darken($michigan-blue, 3.3%);
                .section_title {
                    font-size: 1.875rem;
                    font-family: $super-header-font-family;
                    color: $white;
                    text-transform: uppercase;
                    padding: $global-padding;
                    line-height: 1;
                    background-color: darken($michigan-blue, 3.3%);
                    svg {
                        color: $michigan-maize;
                        margin-bottom: 2px;
                    }
                    span {
                        margin-left: .5rem;
                    }
                }
            }
            ul {
                font-family: $header-font-family;
                color: $white;
                margin-left: 2.5rem;
                padding: $global-padding $global-padding 0;
                list-style: none;
                text-indent: -1.85rem;
                li {
                    font-size: 1.5rem;
                    margin-bottom: .5rem;
                    transition: all .2s ease-in-out;
                    &:before {
                        content: "\0BB \020";
                    }
                    a {
                        color: $white;
                        transition: all .2s ease-in-out;
                    }
                    &:hover {
                        a {
                            color: $michigan-maize;
                        }
                        &:before {
                            color: $michigan-maize;
                        }
                    }
                }
            }
        }
        .promo-col {
            .promo {
                border-left: 1rem solid $body-background;
                border-bottom: 1rem solid $body-background;
                height: 50%;
                background-position: center;
                background-size: cover;
                @include breakpoint(medium down) {
                    height: 22vh;
                    border: 0;
                    margin-bottom: 1rem;
                }
                &.black {
                    background-color: $black;
                }
                &:last-child {
                    border-bottom: 0;
                }
                .promo-inner {
                    p {
                        margin: 0;
                    }
                    a {
                        transition: all .2s ease-in-out;
                    }
                }
                &.custom-01 {
                    background-image: url('../img/promo-01.jpg');
                    background-position: center;
                    background-size: 110%;
                    background-repeat: no-repeat;
                    color: $black;
                    .promo-inner {
                        font-family: $header-font-family;
                        padding-bottom: $global-padding;
                        a {
                            p {
                                font-size: 2.25rem;
                                line-height: 1;
                                font-weight: 700;
                                color: $white;
                                .small {
                                    display: block;
                                    font-size: 1rem;
                                    font-weight: normal;
                                    text-transform: uppercase;
                                }
                                .box-adjust {
                                    display: inline-block;
                                    text-indent: -2px;
                                }
                                &.cta {
                                    color: $michigan-maize;
                                    font-size: 1rem;
                                    font-family: $body-font-family;
                                    transition: all .2s ease-in-out;
                                }
                            }
                            &:hover {
                                .cta {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                &.custom-02 {
                    background-image: url('../img/promo-03.jpg');
                    .promo-inner {
                        font-family: $body-font-family;
                        padding-bottom: $global-padding;
                        a {
                            p {
                                font-size: 2.25rem;
                                line-height: 1;
                                font-weight: 700;
                                color: $white;
                                &.cta {
                                    font-size: 1rem;
                                    font-family: $header-font-family;
                                    text-transform: uppercase;
                                    text-indent: 1rem;
                                    font-weight: normal;
                                    color: $michigan-maize;
                                    transition: all .2s ease-in-out;
                                }
                                &.rule {
                                    position: relative;
                                    &:before,
                                    &:after {
                                        content: "";
                                        position: absolute;
                                        height: 1px;
                                        border-top: 1px solid $white;
                                        top: 1.2rem;
                                    }
                                    &:before {
                                        right: 100%;
                                        margin-right: 5px;
                                        width: 1rem;
                                    }
                                    &:after {
                                        left: 56%;
                                        margin-left: 1rem;
                                        width: 43.5%;
                                        @include breakpoint(small only) {
                                            width: 42.25%;
                                        }
                                    }
                                }
                            }
                            &:hover {
                                .cta {
                                    color: $white;
                                }
                            }
                        }
                    }
                }
                &.custom-03 {
                    background-image: url('../img/promo-02.jpg');
                    background-color: darken($michigan-maize, 25%);
                    .promo-inner {
                        text-shadow: 2px 2px 0px rgba($black, .99);
                        a {
                            color: $white;
                            transition: all .2s ease-in-out;
                            &:hover {
                                color: $michigan-maize;
                                .top,
                                .bottom {
                                    border-color: $michigan-maize;
                                }
                            }
                            p {
                                line-height: 1;
                                text-align: center;
                                width: 60%;
                                margin: 0 auto;
                                &.top {
                                    font-size: 2.5625rem;
                                    font-weight: 700;
                                    text-transform: uppercase;
                                    border-top: 1px solid $white;
                                    padding-top: .625rem;
                                    @include breakpoint(small only) {
                                        font-size: 1rem;
                                    }
                                }
                                &.bottom {
                                    font-size: 1.5rem;
                                    font-weight: normal;
                                    font-style: italic;
                                    padding-bottom: .75rem;
                                    border-bottom: 1px solid $white;
                                }
                            }
                        }
                    }
                }
                &.custom-04 {
                    background-image: url('../img/promo-04.jpg');
                    .promo-inner {
                        font-family: $header-font-family;
                        margin-bottom: $global-padding;
                        padding-left: .625rem;
                        color: $white;
                        border-left: 3px solid $michigan-maize;
                        font-weight: 700;
                        @include breakpoint(small only) {
                            margin-top: $global-padding;
                        }
                        a {
                            color: $white;
                            transition: all .2s ease-in-out;
                            &:hover {
                                .cta {
                                    color: $white;
                                }
                            }
                            .brand {
                                font-size: 2.25rem;
                                font-style: italic;
                                font-weight: 800;
                                line-height: 1.1;
                                i {
                                    font-weight: 400;
                                    color: $michigan-maize;
                                }
                                .top,
                                .bottom {
                                    display: block;
                                }
                            }
                            .sub-hed {
                                margin-top: .5rem;
                            }
                            .cta {
                                color: $michigan-maize;
                                text-transform: uppercase;
                                transition: all .2s ease-in-out;
                            }
                        }
                    }
                }
            }
        }
    }
}