<div class="column small-12 medium-12 large-4 promo-col">
    <div class="promo custom-01 row red-duotone">
        <div class="column align-self-bottom">
            <div class="promo-inner">
                <a href="#">
                    <p><span class="small">AERO</span> <span class="box-adjust">BOUNDLESS</span></p>
                    <p class="cta">Read our annual report »</p>
                </a>
            </div>
        </div>
    </div>
    <div class="promo custom-02 row blue-duotone">
        <div class="column align-self-bottom">
            <div class="promo-inner">
                <a href="#">
                    <p class="rule">Jobs for Grads</p>
                    <p class="cta">Who's hiring now »</p>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="column small-12 medium-12 large-4 promo-col">
    <div class="promo custom-03 row yellow-duotone align-center">
        <div class="column small-12 align-self-middle">
            <div class="promo-inner">
                <a href="#">
                    <p class="top">Seminars</p>
                    <p class="bottom">Recording Archive</p>
                </a>
            </div>
        </div>
    </div>
    <div class="promo custom-04 row dark-blue-duotone">
        <div class="column align-self-bottom">
            <div class="promo-inner">
                <a href="#"><p class="brand"><span class="top">Prospective</span> <span class="bottom">Student Info</span></p>
                <p class="sub-hed">Everyone is a big fish here.</p>
                <p class="cta">Find out more »</p></a>
            </div>
        </div>
    </div>
</div>