<section class="aud-row row expanded text-center" data-equalizer data-equalize-on="medium">
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-03.jpg" alt="describe the image"></div>
            <div class="text-box purple" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12" y2="8"></line>
                    </svg>
                </div>
                <div class="text">
                    <h3>Welcome to AERO</h3>
                    <p>Our mission is to prepare students who are widely known for exceptional strength in technical fundamentals across all aerospace disciplines, cognizant of modern aerospace technologies and are sought after by top graduate schools and aerospace related industries worldwide.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-01.jpg" alt="describe the image"></div>
            <div class="text-box orange" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award">
                        <circle cx="12" cy="8" r="7"></circle>
                        <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                    </svg>
                </div>
                <div class="text">
                    <h3>Our Graduate Program</h3>
                    <p>Our graduate students perform cutting edge research in areas related to air and space vehicles, vehicle systems and associated technologies.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-02.jpg" alt="describe the image"></div>
            <div class="text-box red" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>Our Undergrad Program</h3>
                    <p>The University of Michigan offers an internationally-recognized undergraduate aerospace engineering program that ranks No. 3 among public institutions in the nation by US News &amp; World Report.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-04.jpg" alt="describe the image"></div>
            <div class="text-box blue" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users">
                        <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                        <circle cx="9" cy="7" r="4"></circle>
                        <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                        <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>Our People</h3>
                    <p>The University of Michigan is great, due in large part, to the amazing people who populate this community.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
</section>