<section class="aud-row row expanded collapse text-center" data-equalizer data-equalize-on="medium">
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-01.jpg" alt="describe the image"></div>
            <div class="text-box orange" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-award">
                        <circle cx="12" cy="8" r="7"></circle>
                        <polyline points="8.21 13.89 7 23 12 20 17 23 15.79 13.88"></polyline>
                    </svg>
                </div>
                <div class="text">
                    <h3>graduate studies</h3>
                    <p>Since 1946, faculty have built and flown more than 35 instruments on NASA and ESA spacecraft.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-02.jpg" alt="describe the image"></div>
            <div class="text-box red" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="2" y1="12" x2="22" y2="12"></line>
                        <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>undergraduate studies</h3>
                    <p>Prepare for positions in one of the growing number of fields interested in climate change.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-03.jpg" alt="describe the image"></div>
            <div class="text-box light-blue" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-briefcase">
                        <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                        <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                    </svg>
                </div>
                <div class="text">
                    <h3>undergraduate research</h3>
                    <p>Exciting research happens everyday at Climate and Space Sciences and Engineering.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
    <div class="column small-12 medium-6 large-3">
        <a href="#">
            <div class="image"><img src="{{root}}assets/img/aud-04.jpg" alt="describe the image"></div>
            <div class="text-box blue" data-equalizer-watch>
                <div class="icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye">
                        <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                        <circle cx="12" cy="12" r="3"></circle>
                    </svg>
                </div>
                <div class="text">
                    <h3>Why Michigan?</h3>
                    <p>Explore a few reasons why you should choose Climate &amp; Space for your graduate degree.</p>
                    <p class="cta">Learn more &raquo;</p>
                </div>
            </div>
        </a>
    </div>
</section>