<footer class="footer">
    <div class="row align-center align-middle">
        <div class="small-4 medium-2 large-2 columns logo-cell">
            <a class="logo" href="{{root}}/index.html"><img src="{{root}}assets/img/CoE-block-m.svg" alt="College of Engineering | University of Michigan"></a>
        </div>
        <div class="small-12 medium-10 large-10 columns footer-text">
            <div class="row align-spaced">
                <!-- <div class="small-6 medium-3 large-3 columns">
                    <h6>MICHIGAN ENGINEERING</h6>
                    <p>1221 Beal Avenue</p>
                    <p>Ann Arbor, MI 48109-2102</p>
                    <p>+1 (734) 647-7000</p>
                    <p><a href="mailto:engin-info@umich.edu">engin-info@umich.edu</a></p>
                    <p><a href="https://leadersandbest.umich.edu/find/#!/scu/eng">Give to the College »</a></p>
                </div>
                <div class="small-6 medium-3 large-3 columns">
                    <h6>College of ENGINEERING</h6>
                    <p><a href="http://www.engin.umich.edu/college/" target="_blank">Michigan Engineering Home</a></p>
                    <p><a href="http://www.engin.umich.edu/college/about" target="_blank">About</a></p>
                    <p><a href="http://www.engin.umich.edu/college/research" target="_blank">Research</a></p>
                    <p><a href="http://www.engin.umich.edu/college/academics" target="_blank">Academics</a></p>
                    <p><a href="http://www.engin.umich.edu/college/admissions" target="_blank">Admissions</a></p>
                    <p><a href="http://www.engin.umich.edu/college/departments" target="_blank">Departments</a></p>
                    <p><a href="http://www.engin.umich.edu/college/giving/" target="_blank">Giving</a></p>
                    <p><a href="http://www.engin.umich.edu/college/info" target="_blank">Info for You</a></p>
                </div> -->
                <!-- <div class="small-6 medium-2 large-2 columns">
                    <h6>follow us</h6>
                    <p><a href="http://www.facebook.com/michigan.engineering" target="_blank">Facebook</a></p>
                    <p><a href="http://www.twitter.com/UMengineering" target="_blank">Twitter</a></p>
                    <p><a href="http://instagram.com/michiganengineering" target="_blank">Instagram</a></p>
                    <p><a href="http://www.linkedin.com/edu/school?id=42083" target="_blank">LinkedIn</a></p>
                    <p><a href="http://pinterest.com/umengineering/" target="_blank">Pinterest</a></p>
                    <p><a href="http://www.youtube.com/user/michiganengineering" target="_blank">YouTube</a></p>
                    <p><a href="http://michiganengineering.tumblr.com/" target="_blank">Tumblr</a></p>
                    <p><a href="https://plus.google.com/111653579154776311686/posts" target="_blank">Google+</a></p>
                    <p><a>Snapchat</a></p>
                </div> -->
                <!-- <div class="one-cool-thing-container hide-for-print small-6 medium-3 large-3 columns">
                    <div class="app">
                        <h6 class="section_title">Always Innovating. Forever Valiant.</h6>
                        <a href="http://bicentennial.engin.umich.edu/">
                        </a>
                        <p style="text-decoration: none;">The Michigan Engineering Bicentennial Web Project is a multimedia story collection.
                            <br><a href="http://bicentennial.engin.umich.edu/">See all stories »</a></p>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <div class="row legal">
        <div class="">
            <a href="http://regents.umich.edu/" target="_blank">© The Regents of the University of Michigan Ann Arbor, MI 48109 USA</a> | <a href="https://coecongrats.wpengine.com/acceptable-use-and-privacy-policies/" target="_blank">Privacy Policy</a> | <a href="{{root}}contact.html">Contact</a> | <a href="http://hr.umich.edu/oie/ndpolicy.html" target="_blank">Non-Discrimination Policy</a> | <a href="http://safety.engin.umich.edu/">Campus Safety</a> | <a href="http://umich.edu" target="_blank">U-M Home</a> | <a href="{{root}}text_only.html">Text-only version</a> | <a href="#">Site map</a>
        </div>
    </div>
</footer>