<div id="skip"><a href="#content">Skip to Main Content</a></div>
<div class="navigation not-index" id="navigation" data-hide-for="medium">
    <div class="title-bar">
        <div class="row bottom align-middle expanded collapse">
            <div class="small-1 medium-1 column hide-for-large menu_icon">
                <button class="hamburger hamburger--slider" type="button" data-open="offCanvas"><span class="hamburger-box"><span class="hamburger-inner"></span></span>
                </button>
            </div>
            <div class="column small-7 medium-4 large-3 logo_container">
                <div class="title-bar-title">
                    <a class="logo" href="./"><img src="{{root}}assets/img/CoE-horiz-rev.svg" alt="College of Engineering | University of Michigan"></a>
                </div>
            </div>
            <!-- <div class="column show-for-large menu_row">
                <div class="row main_menu align-spaced align-bottom expanded">
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">About</span></button>
                    </div>
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">Research</span></button>
                    </div>
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">Academics</span></button>
                    </div>
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">Admissions</span></button>
                    </div>
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">Departments</span></button>
                    </div>
                    <div class="column category nav-click" data-toggle="main-menu">
                        <button><span class="menu_label">Giving</span></button>
                    </div>
                    <div class="column large-2 menu_controls">
                        <div class="row align-center align-bottom">
                            <div class="small-6 column search_control nav-click" data-toggle="search_drop">
                                <button class="menu_icon"><i class="fa fa-search" aria-hidden="true"></i>
                                    <div class="icon_label search">search</div>
                                </button>
                            </div>
                            <div class="small-6 end column">
                                <button class="menu_icon hamburger hamburger--slider large nav-click" data-toggle="main-menu" aria-hidden="true"><span class="hamburger-box"><span class="hamburger-inner"></span></span>
                                    <div class="icon_label for_button">menu</div>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="dropdown-pane hide-for-small-only" id="search_drop" data-dropdown data-close-on-click="true" data-auto-focus="true">
            <div class="search_row row align-center expanded">
                <form class="search column small-12 align-center" action="{{root}}search_results.html" method="get">
                    <label for="input-group">
                        <span class="search_hed">SEARCH</span>
                        <br>Enter search term(s)</label>
                    <div class="input-group">
                        <input class="input-group-field" type="text" id="input-group" name="search">
                        <input type="submit" class="button" value="go">
                    </div>
                </form>
            </div>
        </div>
        <div class="dropdown-pane hide-for-small-only row expanded medium-uncollapse large-collapse menu" id="main-menu" data-dropdown data-close-on-click="true" data-auto-focus="true">
            <div class="row expanded align-justify small-text-center medium-text-center large-text-left">
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="{{root}}landing.html">About</a></p>
                    <ul>
                        <li><a href="{{root}}landing.html">Advanced Manufacturing</a></li>
                        <li><a href="{{root}}landing.html">Data &amp; Computing</a></li>
                        <li><a href="{{root}}landing.html">Energy &amp; Environment</a></li>
                        <li><a href="{{root}}landing.html">Health</a></li>
                        <li><a href="{{root}}landing.html">Infrastructure</a></li>
                        <li><a href="{{root}}landing.html">Materials</a></li>
                        <li><a href="{{root}}landing.html">Robotics</a></li>
                    </ul>
                </div>
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="{{root}}landing.html">Research</a></p>
                    <ul>
                        <li><a href="{{root}}landing.html">Photography</a></li>
                        <li><a href="{{root}}landing.html">Awards</a></li>
                        <li><a href="{{root}}landing.html">Faculty</a></li>
                        <li><a href="{{root}}landing.html">Students</a></li>
                        <li><a href="{{root}}landing.html">Alumni</a></li>
                        <li><a href="{{root}}generic.html">Events</a></li>
                        <li><a href="{{root}}generic.html">Giving</a></li>
                        <li><a href="{{root}}landing.html">Admin News &amp; Announcements</a></li>
                    </ul>
                </div>
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="{{root}}landing.html">Academics</a></p>
                    <ul class="">
                        <li><a href="{{root}}landing.html">Magazine</a></li>
                        <li><a href="{{root}}landing.html">About</a></li>
                        <li><a href="{{root}}landing.html">For the Media</a></li>
                        <li><a href="{{root}}landing.html">Features</a></li>
                        <li><a href="{{root}}landing.html">Videos</a></li>
                        <li><a href="{{root}}landing.html">Photography</a></li>
                        <li><a href="{{root}}landing.html">Faculty Perspectives</a></li>
                    </ul>
                </div>
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="{{root}}landing.html">Admissions</a></p>
                    <ul>
                        <li><a href="{{root}}landing.html">Magazine</a></li>
                        <li><a href="{{root}}landing.html">About</a></li>
                        <li><a href="{{root}}landing.html">For the Media</a></li>
                        <li><a href="{{root}}landing.html">Features</a></li>
                        <li><a href="{{root}}landing.html">Videos</a></li>
                        <li><a href="{{root}}landing.html">Photography</a></li>
                        <li><a href="{{root}}landing.html">Faculty Perspectives</a></li>
                    </ul>
                </div>
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="{{root}}landing.html">Departments</a></p>
                    <ul>
                        <li><a href="{{root}}landing.html">Aerospace Engineering</a></li>
                        <li><a href="{{root}}landing.html">Biomedical Engineering</a></li>
                        <li><a href="{{root}}landing.html">Chemical Engineering</a></li>
                        <li><a href="{{root}}landing.html">Civil and Environmental Engineering</a></li>
                        <li><a href="{{root}}landing.html">Climate and Space Sciences and Engineering</a></li>
                        <li><a href="{{root}}landing.html">Electrical Engineering and Computer Science</a></li>
                        <li><a href="{{root}}landing.html">Industrial and Operations Engineering</a></li>
                        <li><a href="{{root}}landing.html">Integrative Systems + Design</a></li>
                        <li><a href="{{root}}landing.html">Materials Science and Engineering</a></li>
                        <li><a href="{{root}}landing.html">Mechanical Engineering</a></li>
                        <li><a href="{{root}}landing.html">Naval Architecture and Marine Engineering</a></li>
                        <li><a href="{{root}}landing.html">Nuclear Engineering and Radiological Sciences</a></li>
                        <li><a href="{{root}}landing.html">Other Units</a></li>
                    </ul>
                </div>
                <div class="column small-8 medium-6 large-2 large-expand">
                    <p class="list_hed"><a href="landing.html">Giving</a></p>
                    <ul>
                        <li><a href="{{root}}landing.html">Aerospace Engineering</a></li>
                        <li><a href="{{root}}landing.html">Biomedical Engineering</a></li>
                        <li><a href="{{root}}landing.html">Chemical Engineering</a></li>
                        <li><a href="{{root}}landing.html">Civil and Environmental Engineering</a></li>
                    </ul>
                    <div class="social_drop">
                        <div>
                            <p class="follow_us_hed">FOLLOW US | <a href="#rss"><i class="fa fa-rss" aria-hidden="true"></i></a></p>
                        </div>
                        <div class="row social_row collapse">
                            <div class="column"><a class="facebook menu_icon" href="http://www.facebook.com/michigan.engineering"><i class="fa fa-facebook fa-inverse"></i></a></div>
                            <div class="column"><a class="twitter menu_icon" href="https://twitter.com/UMengineering"><i class="fa fa-twitter fa-inverse"></i></a></div>
                            <div class="column"><a class="instagram menu_icon" href="https://www.instagram.com/michiganengineering/"><i class="fa fa-instagram fa-inverse"></i></a></div>
                            <div class="column"><a class="youtube menu_icon" href="https://www.youtube.com/user/michiganengineering"><i class="fa fa-youtube fa-inverse"></i></a></div>
                        </div>
                        <div class="row social_row collapse">
                            <div class="column"><a class="snapchat-ghost menu_icon" data-open="snapchat"><i class="fa fa-snapchat-ghost fa-inverse"></i></a></div>
                            <div class="column"><a class="tumblr menu_icon" href="https://twitter.com/UMengineering"><i class="fa fa-tumblr fa-inverse"></i></a></div>
                            <div class="column"><a class="linkedin menu_icon" href="https://www.instagram.com/michiganengineering/"><i class="fa fa-linkedin fa-inverse"></i></a></div>
                            <div class="column"><a class="pinterest menu_icon" href="https://www.youtube.com/user/michiganengineering"><i class="fa fa-pinterest fa-inverse"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
