<section class="feeds promo row" data-equalizer data-equalize-on="medium">
    <div class="column small-12 medium-12 large-8 news" data-equalizer-watch>
        <div class="section_title row align-justify collapse">
            <div class="column small-10 shrink">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text">
                    <path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path>
                    <polyline points="14 2 14 8 20 8"></polyline>
                    <line x1="16" y1="13" x2="8" y2="13"></line>
                    <line x1="16" y1="17" x2="8" y2="17"></line>
                    <polyline points="10 9 9 9 8 9"></polyline>
                </svg><span>Recent News</span>
            </div>
            <div class="column shrink more-news"><a href="{{root}}">more news &raquo;</a></div>
        </div>
        <div class="article">
            <a href="{{root}}" class="row collapse">
                <div class="small-3 medium-4 large-5 column small-order-2 medium-order-1 image"><img src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Placeholder"></div>
                <div class="small-9 medium-8 large-7 column text small-order-1 medium-order-2">
                    <h4 class="hed">Professor James Driscoll receives AIAA Best Paper Award for combustion research
Professor James Driscoll receives AIAA Best Paper Award for combustion research</h4>
                    <p class="dek">Congratulations to Professor James Driscoll for receiving the AIAA Best Paper Award from the Propellants and Combustion Technical Committee! </p>
                </div>
                <svg width="100%" class="border column small-12  small-order-3 medium-order-3">
                    <line class="stroke" x1="1" x2="100%" y1="1" y2="1" stroke="black" stroke-width="1" stroke-linecap="round" stroke-dasharray="1, 5" />
                </svg>
            </a>
        </div>
        <div class="article">
            <a href="{{root}}" class="row collapse">
                <div class="small-3 medium-4 large-5 column small-order-2 medium-order-1 image"><img src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Placeholder"></div>
                <div class="small-9 medium-8 large-7 column text small-order-1 medium-order-2">
                    <h4 class="hed">Atmospheric Rivers</h4>
                    <p class="dek">Michigan researchers have developed a series of animations to predict when atmospheric rivers will impact land, allowing for better preparation for extreme weather events.</p>
                </div>
                <svg width="100%" class="border column small-12  small-order-3 medium-order-3">
                    <line class="stroke" x1="1" x2="100%" y1="1" y2="1" stroke="black" stroke-width="1" stroke-linecap="round" stroke-dasharray="1, 5" />
                </svg>
            </a>
        </div>
        <div class="article">
            <a href="{{root}}" class="row collapse">
                <div class="small-3 medium-4 large-5 column small-order-2 medium-order-1 image"><img src="{{root}}assets/img/3-2-img-large-01.jpg" alt="Placeholder"></div>
                <div class="small-9 medium-8 large-7 column text small-order-1 medium-order-2">
                    <h4 class="hed">Antarctic iceberg: Researchers explain what might happen next</h4>
                    <p class="dek">An iceberg the size of Delaware detached from an ice shelf in the Southern Ocean.</p>
                </div>
                <svg width="100%" class="border column small-12  small-order-3 medium-order-3">
                    <line class="stroke" x1="1" x2="100%" y1="1" y2="1" stroke="black" stroke-width="1" stroke-linecap="round" stroke-dasharray="1, 5" />
                </svg>
            </a>
        </div>
    </div>
    <div class="column small-12 medium-12 large-4 promos">
        <div class="callout row align-center collapse" data-equalizer-watch>
            <div class="promo column align-self-stretch small-12 custom-block">
                <div class="custom-widget row collapse">
                    <div class="column small-12 widget text-center"><img src="https://aero.engin.umich.edu/wp-content/uploads/sites/2/2017/06/tenure-track-faculty.jpg" alt="">
                    </div>
                </div>
                <div class="copy row align-middle">
                    <div class="column small-12 text-center">
                        <h3><a href="{{root}}">Faculty. Facilities. Funding.</a></h3>
                        <p><a href="#">We have what it takes to help you pursue your biggest ideas. <span class="cta">See our facts and figures &raquo;</span></a></p>
                    </div>
                </div>
            </div>
            <div class="events column align-self-stretch small-12 red">
                <div class="section_title row align-justify align-bottom collapse">
                    <div class="column small-10 shrink">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar">
                            <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                            <line x1="16" y1="2" x2="16" y2="6"></line>
                            <line x1="8" y1="2" x2="8" y2="6"></line>
                            <line x1="3" y1="10" x2="21" y2="10"></line>
                        </svg><span>Upcoming Events</span>
                    </div>
                    <div class="column shrink more"><a href="{{root}}">more events &raquo;</a></div>
                </div>
                <div class="event_wrap">
                    <a class="row collapse align-middle">
                        <div class="column small-1 medium-1 large-1 date shrink text-right">
                            <div class="month">APR</div>
                            <div class="day">19</div>
                        </div>
                        <div class="column small-8 medium-8 large-9 title_loc">
                            <h5 class="title">Study Day</h5>
                            <p class="location">No exams or classes.</p>
                        </div>
                    </a>
                    <a class="row collapse align-middle">
                        <div class="column small-1 medium-1 large-1 date shrink text-right">
                            <div class="month">APR</div>
                            <div class="day">20</div>
                        </div>
                        <div class="column small-8 medium-8 large-9 title_loc">
                            <h5 class="title">Examinations</h5>
                            <p class="location">Final exams are taken. Courses' grades are due 72 hours after final examinations.</p>
                        </div>
                    </a>
                    <a class="row collapse align-middle">
                        <div class="column small-1 medium-1 large-1 date shrink text-right">
                            <div class="month">APR</div>
                            <div class="day">21</div>
                        </div>
                        <div class="column small-8 medium-8 large-9 title_loc">
                            <h5 class="title">Examinations</h5>
                            <p class="location">Final exams are taken. Courses' grades are due 72 hours after final examinations.</p>
                        </div>
                    </a>
                    <a class="row collapse align-middle">
                        <div class="column small-1 medium-1 large-1 date shrink text-right">
                            <div class="month">APR</div>
                            <div class="day">21</div>
                        </div>
                        <div class="column small-8 medium-8 large-9 title_loc">
                            <h5 class="title">Examinations</h5>
                            <p class="location">Final exams are taken. Courses' grades are due 72 hours after final examinations.</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>