<div class="column small-12 medium-12 large-4 quick-links blue">
    <div class="section_title row collapse align-bottom">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-zap"><polygon points="13 2 3 14 12 14 11 22 21 10 12 10 13 2"></polygon></svg><span>Quick Links</span>
    </div>
    <ul>
    	<li><a href="#">Faculty Directory</a></li>
    	<li><a href="#">Research Areas</a></li>
    	<li><a href="#">Student Orgs</a></li>
    	<li><a href="#">Upcoming Events</a></li>
    	<li><a href="#">Graduate Student Directory</a></li>
    	<li><a href="#">Contact Us</a></li>
    	<li><a href="#">Give to CLaSP</a></li>
    </ul>
</div>