<section class="quote row align-center align-middle text-center">
    <div class="quote-container column small-11 medium-10 large-10">
        <blockquote class="the-quote">Communication and inspiration are common to both science and the arts and we can work together to benefit both of our domains.</blockquote>
        <cite>Mark Moldwin, Professor and Associate Chair for Academic Affairs</cite>
        <div class="cta"><a href="#">see all faculty insights &raquo;</a></div>
    </div>
</section>