<section class="quote row align-center align-middle text-center">
    <div class="quote-container column small-11 medium-10 large-10">
        <blockquote class="the-quote">Our mission is to prepare students who are widely known for exceptional strength in technical fundamentals across all aerospace disciplines.</blockquote>
        <cite>Daniel J. Inman, Clarence "Kelly" Johnson Professor; Professor, Aerospace Engineering; Department Chair</cite>
        <div class="cta"><a href="#">start exploring now &raquo;</a></div>
    </div>
</section>