<section class="row stats expanded align-center">
    <div class="column small-12">
        <div class="row small-up-1 medium-up-3 large-up-3 text-center ">
            <div class="column">
                <div class="image wow fadeInUp" data-wow-delay=".5s">
                    <a href="#asdf">
                            <img src="{{root}}assets/img/stats.jpg" width="260" height="260" alt="describe the image"><span class="stat">21</span>
                        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g><circle fill="none" stroke="#fff" stroke-width="5" stroke-miterlimit="23" stroke-dasharray="0.35, 2.25" cx="50" cy="50" r="55"/></g>
                        </svg>
                        </a>
                </div>
                <p class="dek">Nulla vitae elit libero, a pharetra augue.</p>
                <p class="cta"><a href="#adsf">Find out more &raquo;</a></p>
            </div>
            <div class="column">
                <div class="image wow fadeInUp" data-wow-delay=".5s">
                    <a href="#asdf">
                            <img src="{{root}}assets/img/stats.jpg" width="260" height="260" alt="describe the image"><span class="stat">No.1</span>
                        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g><circle fill="none" stroke="#fff" stroke-width="5" stroke-miterlimit="23" stroke-dasharray="0.35, 2.25" cx="50" cy="50" r="55"/></g>
                        </svg>
                        </a>
                </div>
                <p class="dek">Nulla vitae elit libero, a pharetra augue.</p>
                <p class="cta"><a href="#adsf">Find out more &raquo;</a></p>
            </div>
            <div class="column">
                <div class="image wow fadeInUp" data-wow-delay=".5s">
                    <a href="#asdf">
                            <img src="{{root}}assets/img/stats.jpg" width="260" height="260" alt="describe the image"><span class="stat">1234</span>
                        <svg viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg">
                            <g><circle fill="none" stroke="#fff" stroke-width="5" stroke-miterlimit="23" stroke-dasharray="0.35, 2.25" cx="50" cy="50" r="55"/></g>
                        </svg>
                        </a>
                </div>
                <p class="dek">Nulla vitae elit libero, a pharetra augue.</p>
                <p class="cta"><a href="#adsf">Find out more &raquo;</a></p>
            </div>
        </div>
    </div>
</section>