<section class="video row small-collapse expanded">
    <div class="column large-12">
        <div class="row collapse">
            <div class="column small-12 large-8 video-embed">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/YykKL03Gx7c" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column caption align-self-bottom">
                <div class="top-border"></div>
                <p class="dek">Clarence &ldquo;Kelly&rdquo; Johnson (BSE AeroE ’32, MSE ’33) was a bold an innovative aircraft designer. One of his earlier planes, the Lockheed P-38 Lightning, echoes that description well. It&rsquo;s unique twin-boom and central nacelle (for the cockpit) design gave it great stability and maneuverability at higher speeds than other planes offered...</p>
                <div class="cta">
                    <a href="#to-do">Read more about Clarence &ldquo;Kelly&rdquo; Johnson &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>