<section class="video row small-collapse expanded">
    <div class="column large-12">
        <div class="row collapse">
            <div class="column small-12 large-8 video-embed">
                <div class="responsive-embed widescreen">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0j5kx_B9WzE?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
            <div class="column caption align-self-bottom">
                <div class="top-border"></div>
                <p class="dek">They’re calling it the first space time capsule. Under the mantle of the University of Michigan’s Bicentennial, a team of students will interview 1,000 members of the U-M community and launch their stories into orbit for 100 years.</p>
                <div class="cta">
                    <a href="#to-do">Learn more about space time &raquo;</a>
                </div>
            </div>
        </div>
    </div>
</section>